*.iml
*.ipr
*.iws
*.pyc
*.swp
.gradle/
.java-version
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles/
build
classes/
docker/artifact/
docker/config/pacts/
out/
pacts/
scripts/roundtrip-custom-request/trips/
target/